.container {
  background-color: #435b6d;  /* Set the background color */
  color: white;               /* Set the text color to white */
  border: 1px solid #ddd;
  padding: 2rem;
}

button {
  font-size: 1.2rem;
  padding: 10px;
  color: white;              /* Set the button text color to white */
  border: none;              /* Remove button border */
}

button.btn-primary {
  background-color: #007bff; /* Customize button color for primary */
}

button.btn-secondary {
  background-color: #6c757d; /* Customize button color for secondary */
}

button:hover {
  opacity: 0.9;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.table-striped tbody tr:hover {
  background-color: #495057; /* Slight hover effect */
}

.table td, .table th {
  vertical-align: middle; /* Vertically center the text in table cells */
}
