<form name="form_change_password" ng-submit="request_password_change()" role="form">

    <h2 style="text-align: center;">Change User Password</h2>

    <div class="col-md-6 col-md-offset-3">
        <div class="form-group" ng-class="{ 'has-error': form_change_password.username.$dirty && form_change_password.username.$error.required }">
            <label for="username">Username </label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user_to_change_password.username" required />
            <span ng-show="form_change_password.username.$dirty && form_change_password.username.$error.required" class="help-block">Username Expression is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form_change_password.new_password.$dirty && form_change_password.new_password.$error.required }">
            <label for="new_password">New Password</label>
            <input type="text" name="new_password" id="new_password" class="form-control" ng-model="user_to_change_password.new_password" required />
            <span ng-show="form_change_password.new_password.$dirty && form_change_password.new_password.$error.required" class="help-block">New password is required</span>
        </div>

        <div class="form-actions" style="float: right;">
            <button type="submit" ng-disabled="form_change_password.$invalid" class="btn btn-primary">Change password</button>
            <a href="#!/" class="btn btn-link">Cancel</a>
        </div>
    </div>     

</form>


