<div>
    <h2>Security Configuration</h2>
    <strong>Keystore File:</strong> {{secConfig.keystoreFile}}<br>
    <strong>Truststore File:</strong> {{secConfig.truststoreFile}}<br>
    <strong>TLS Version:</strong>{{secConfig.tlsVersion}}<br>
    <strong>x509 Groups:</strong> {{secConfig.x509Groups}}<br>
    <strong>x509 Add Anonymous:</strong> {{secConfig.x509addAnon}}<br>
    <strong>Enable Certificate Enrollment:</strong> {{secConfig.enableEnrollment}}<br>
    <div ng-hide="!secConfig.enableEnrollment">
        <strong>CA Type:</strong> {{secConfig.caType}}<br>
        <div ng-hide="secConfig.caType != 'TAKServer'">
            <strong>Signing Keystore File:</strong> {{secConfig.signingKeystoreFile}}<br>
            <strong>Validity Days:</strong> {{secConfig.validityDays}}<br>
        </div>
        <div ng-hide="secConfig.caType != 'MicrosoftCA'">
            <strong>Username:</strong> {{secConfig.mscaUserName}}<br>
            <strong>Truststore File:</strong> {{secConfig.mscaTruststore}}<br>
            <strong>Template Name:</strong> {{secConfig.mscaTemplateName}}<br>
        </div>
    </div>
    <div data-ng-show="configVerified">
        <p style="background-color: #c4f5c3; width: fit-content;">
            Your Security Configuration looks good!
            You do not need to change anything unless you want to change the default settings.
        </p>
    </div>
    <div data-ng-hide="configVerified">
        <p style="background-color: #ecd2d1; width: fit-content;">
            It looks your keystore and/or trustsore are not set up properly. <br>
            If you have already set these up, make sure the configuration is pointing at the correct file with the edit security button below. <br>
            Otherwise, if you have not yet set up your keystore and trustore, follow the instructions in Appendix B of the configuration guide. <br>
            Changing the security configuration will require a server restart for the changes to take effect.
    </div>
    <a class="btn btn-primary" ui-sref="security.ldap" ng-disabled="showLDAP" ng-click="clickedShowLDAP()">Next</a>
    <a class="btn btn-default" ui-sref="security.modifySec">Edit Security</a>
</div>