<div class="row col-md-offset-1">

  <!--<div class="col-lg-5 col-md-10">-->
    <!--<div class="panel panel-green">-->
      <!--<div class="panel-heading">-->
        <!--<div class="row">-->
          <!--<div class="col-xs-1">-->
            <!--<i class="fa fa-tree fa-5x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-11 text-right">-->
            <!--<div class="huge">Role/Product Sets</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="panel-footer">-->
        <!--<ul class="nav nav-pills nav-justified">-->
          <!--<li role="presentation"><a ui-sref="role-product-set-new">New</a>-->
          <!--<li role="presentation"><a ui-sref="role-product-set-load">Load</a>-->
          <!--<li role="presentation"><a ui-sref="manage.role-sets">Manage</a>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="col-lg-5 col-md-10">-->
    <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
        <!--<div class="row">-->
          <!--<div class="col-xs-1">-->
            <!--<i class="fa fa-sitemap fa-5x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-11 text-right">-->
            <!--<div class="huge">Diagrams</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="panel-footer">-->
        <!--<ul class="nav nav-pills nav-justified">-->
          <!--<li role="presentation"><a ui-sref="diagrams-new">New</a>-->
          <!--<li role="presentation"><a ui-sref="diagrams-load">Load</a>-->
          <!--<li role="presentation"><a ui-sref="manage.diagrams">Manage</a>-->
        <!--</ul>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <div class="col-lg-5 col-md-10">
  <div class="panel" style="background-color: #435B6D; color: white">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-1">
          <i class="fa fa-sitemap fa-5x"></i>
        </div>
        <div class="col-xs-11 text-right">
          <div class="huge">Federation Policy</div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a ui-sref="federations-new">New</a>
        <li role="presentation"><a ui-sref="federations-load">Load</a>
      </ul>
    </div>
  </div>
</div>

  <!--<div class="col-lg-5 col-md-10">-->
    <!--<div class="panel panel-red">-->
      <!--<div class="panel-heading">-->
        <!--<div class="row">-->
          <!--<div class="col-xs-1">-->
            <!--<i class="fa fa-line-chart fa-5x"></i>-->
          <!--</div>-->
          <!--<div class="col-xs-11 text-right">-->
            <!--<div class="huge">Instances</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="panel-footer">-->
        <!--<ul class="nav nav-pills nav-justified">-->
          <!--<li role="presentation"><a ui-sref="instances-new">New</a>-->
          <!--<li role="presentation"><a ui-sref="instances-load">Load</a>-->
          <!--<li role="presentation"><a ui-sref="manage.instances">Manage</a>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

    <!--<div class="col-lg-5 col-md-10">-->
              <!--<div class="panel panel-yellow">-->
            <!--<div class="panel-heading">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-1">-->
                        <!--<i class="fa fa-cogs fa-5x"></i>-->
                    <!--</div>-->
                    <!--<div class="col-xs-11 text-right">-->
                        <!--<div class="huge">Manage</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--<ul class="nav nav-pills nav-justified">-->
                    <!--<li role="presentation"><a ui-sref="manage.assets">Assets</a>-->

                    <!--<li role="presentation"><a ui-sref="manage.defaults">Defaults</a>-->

                  <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


  <!--
    <div class="col-lg-5 col-md-10">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-line-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-11 text-right">
                        <div class="huge">Monitor</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation"><a href="#">Coming Soon....</a>
                </ul>
            </div>
        </div>
    </div>
-->

          </div>
