* {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
  }  

  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .three_columns_parent {
    display:flex; /* so that the height of this element depends on the height of its child elements */
  }

  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    /* height: 700px; */
  }
  
  .left, .right {
    width: 20%;
  }
  
  .middle {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  }
   */

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .dropbox_group {
    float: left;
    width: 33.33%;
    height: 450px;
    padding: 10px;
    border: 3px solid #aaaaaa; 
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
  }
  
  .list_container {
    overflow: auto;
    height: 500px;
  }

  .columnFF {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .rowFF:after {
    content: "";
    display: table;
    clear: both;
  }

  .user_object {
    margin-bottom: 2px;
  }

  .group_object {
    margin-bottom: 2px;
  }

  .user_button {
    margin-bottom: 2px;
  }

  .group_button {
    margin-bottom: 2px;
  }

  .help-block {
    color: red;
  }

[ng-drag].dragging {
    opacity: 0;
}

[ng-drop].drag-enter {
    border: solid 5px red;
}
