<style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; color:blue;}

    .nav:after {
        content: none;
    }

    .nav:before {
        content: none;
    }

    .sortorder:after {
        content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    .sortorder.reverse:after {
        content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
    }
</style>

<div id="clientCertificatesView">
    <div id="clientCertificatesListContainer" class="content" class="listContainer" >

        <div data-ng-show="!showRmiError">
            <h3>Tokens</h3>
        </div>

        <div data-ng-show="!showRmiError">
            <a class="nav" data-ng-click="toggle();" href>Select All</a>&nbsp;
            <a class="nav" data-ng-click="revokeSelected();" href>Revoke Selected</a>&nbsp;
        </div>

        <div data-ng-show="!showRmiError && tokens.length > 0">
            <!-- Use the tablesorter class, but actually following all the steps to enable client side sorting (e.g., invoking tablesorter function, including
            tablesorter js files, etc., results in a conflict with angular -->

            <table id="tokensList" class="tablesorter">
                <thead>
                <tr>
                    <th>Select</th>
                    <th><a class="nav" data-ng-click="sortBy('clientId')" href>Client ID</a><span class="sortorder" ng-show="sortPropertyName === 'clientId'" ng-class="{reverse: reverse}"></span></th>
                    <th><a class="nav" data-ng-click="sortBy('username')" href>Username</a><span class="sortorder" ng-show="sortPropertyName === 'username'" ng-class="{reverse: reverse}"></span></th>
                    <th><a class="nav" data-ng-click="sortBy('expires')" href>Expires</a><span class="sortorder" ng-show="sortPropertyName === 'expires'" ng-class="{reverse: reverse}"></span></th>
                    <th>&nbsp;</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-repeat="token in tokens | orderBy:sortPropertyName:reverse ">
                    <td align="center"><input type="checkbox" ng-model="token.selected"></td>
                    <td data-ng-bind="token.clientId"></td>
                    <td data-ng-bind="token.username"></td>
                    <td data-ng-bind="token.expires"></td>
                    <td><a class="nav" ng-href="#!/viewToken/{{token.token | encodeURIComponent}}">View</a>
                        <a class="nav" data-ng-click="revokeToken(token)" href>Revoke</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div data-ng-show="!showRmiError && tokens.length == 0">
            <table class="tablesorter"><tr><td colspan="2">No Tokens Found</td></tr></table>
        </div>

        <div data-ng-show="showRmiError">
            <h2><font color="dc143c">Tokens Unavailable</font></h2>
            <p>Error retrieving tokens.</p>
            <hr/>
        </div>
    </div>
</div>
