<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Adaptive Mission Templates</h1>
    </div>
    <!-- /.col-lg-12 -->    
</div>

<div class="panel panel-default">
  <div class="panel-heading">About AMT</div>
  <div class="panel-body">
    <p> Situation awareness supporting operational missions requires access to archived and real-time information that is most relevant to the mission being performed, the role of the warfighters, and evolving operational workflows. Information Management (IM) services, such as the USAF Research Laboratory’s Phoenix services, support the discovery, brokering, and dissemination of past and future information in support of military missions. They decouple information providers from information consumers as they discover and disseminate information based on information attributes and consumer interests, no matter where, when, or how that information has become available.
    <p>Setting up the requests (i.e., subscriptions and queries) to provide situation awareness can be a complex task that requires significant time, expertise, and patience. Requests that are too broad may return too much information, requiring warfighters to spend their valuable time searching for those relatively few nuggets that are mission-crucial. On the other hand, requests that are too narrow may return little or no information of value, thus imperiling mission success. Finally, requests that fail to adapt to changing or unanticipated mission conditions are likely to produce information of radically declining value as the mission progresses.
    <p>Brokering and query processing are currently performed in a context-free manner, lacking both “mission-awareness” and the rich information semantics that enables such functionality. As a result, IM services disseminate to a user (1) only what syntactically matches user requests, not necessarily what matches user needs; (2) everything that the user requests, even when the information is redundant, buried in otherwise irrelevant content, or in a format that the user’s device cannot display; and (3) unregulated flows of information that may deliver more data than a user can handle. This situation can be improved by extending today’s IM services to include (1) an awareness of the users’ missions; (2) the ability to reason about the semantics of the users’ mission parameters, context, and situations; and (3) the ability to augment and adapt users’ requests as mission parameters change over time.
    <p>The Adaptive Mission Template (AMT) project is a prototype AMT tool for the definition, editing and instantiation of Mission Templates and Mission Worklflows.</p>
    <p>The AMT Graphical User Interface (GUI) includes support for the following components</p>
    <ul>
        <li>The creation, selection, editing and saving of Mission Workflows, Mission Workflow Linkages and Mission Instances</li>
        <li>Specification of roles that actors play in missions and their information interests, including traditional
            type-based information requests and semantic requests (part of Mission Templated Editor GUI)</li>
        <li>Specification of importance, priorities, and other Quality of Service (QoS) aspects of information flow (part of the Mission Template Editor GUI)</li>
        <li>The instantiation of missions from templates (the Mission Instantiation GUI), which generates information about
            the mission’s roles, information requests, and QoS settings for a runtime information management system (such as Phoenix Prime)</li>
    </ul>
  </div>  
</div>

<div class="panel panel-default">
    <div class="panel-heading">Team Members</div>
    <div class="panel-body">
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/AFRL_logo.jpg" alt="Air Force Research Labs">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/BBN_logo.png" alt="Air Force Research Labs">
    </div>
  </div>
</div>    
    
    
    
    </div>
</div>
