<style type="text/css">
  input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  input.ng-valid.ng-touched {
    background-color: white;
  }
  
  .rowHeader {
  	text-align:right;
  	padding-right:5px;
  	width:200px;
  	vertical-align:top;
  }
  
  .rowValue {
  	width:400px;
  	text-align:right;
  	vertical-align:top;
  }
  
  .rowValue select {
  	width:100%;
  }

  .rowValue input {
  	width:400px;
  }
  
  .error {
  	color:red;
  	vertical-align:top;
  }

  table {
  	border-collapse: separate;
  	border-spacing:10px
  }

  .inlineHelp {
  	font:13px arial, sans-serif;
  	font-style:italic;
  	text-align:right;
  	color:green;
  }  
</style>

<div>
  <h3>Modify Plugin Data Feed Definition</h3>

  <form name="inputForm" novalidate data-ng-submit="inputForm.$valid && updateDataFeed(dataFeed)">

  	<table>
  		<tr>
  			<td class="rowHeader"><label for="name">Name</label></td>
  			<td class="rowValue"><label data-ng-bind="dataFeed.name"></label></td>
  		</tr>

	  	<tr data-ng-hide="hideArchive">
  			<td class="rowHeader"><label for="archive">Archive</label></td>
 			<td class="rowValue">
				<select name="archive" data-ng-model="dataFeed.archive" required data-ng-options="boolToStr(item) for item in [true, false]">
				</select>
			</td>
		</tr>

  		<tr>
  			<td class="rowHeader"><label for="tags">Tags</label></td>
  			<td class="rowValue">
				<textarea style="width:100%;resize:none;" rows=10 data-ng-model="dataFeed.tags" data-ng-list="&#10;" data-ng-trim="false">{{currentTags}}</textarea>
  				<br/><span class="inlineHelp">Must be unique and newline-separated</span>
			</td>
			<td>&nbsp;</td>
  		</tr>

		<tr data-ng-hide="hideSync">
			<td class="rowHeader"><label for="sync">Sync</label></td>
			<td class="rowValue">
				<select name="sync" data-ng-model="dataFeed.sync" required data-ng-options="boolToStr(item) for item in [true, false]">
				</select>
			</td>
		</tr>
		
		<tr data-ng-hide="hideFederated">
            <td class="rowHeader"><label for="federated">Federated</label></td>
            <td class="rowValue">
                <select name="federated" data-ng-model="dataFeed.federated" required data-ng-options="boolToStr(item) for item in [true, false]">
                </select>
            </td>
        </tr>

		<tr>
			<td style="padding:10px;" align="right">
				<input type="button" data-ng-click="cancelDataFeed()" value="Cancel" />&nbsp;
				<input type="submit" value="Save" data-ng-disabled="submitInProgress" />
			</td>
			<td>&nbsp;</td>
		</tr>

  	</table>
  </form>
  
  <div data-ng-show="showRmiError" data-ng-cloak>
  	<h2><font color="dc143c">Data Feed Access is Unavailable</font></h2>
	<p>The data feed cannot be displayed because the Web application failed to connect to the TakServer broker.</p>
	<p>Please ensure the broker is running and reload this page.</p>
	<hr/>
	</div>

</div>
