<style type="text/css">
  input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  input.ng-valid.ng-touched {
    background-color: white;
  }
  
  .rowHeader {
  	text-align:right;
  	padding-right:5px;
  	width:200px;
  	vertical-align:top;
  }
  
  .rowValue {
  	width:400px;
  	text-align:right;
  	vertical-align:top;
  }
  
  .rowValue select {
  	width:100%;
  }

  .rowValue input {
  	width:400px;
  }
  
  .error {
  	color:red;
  	vertical-align:top;
  }

  table {
  	border-collapse: separate;
  	border-spacing:10px
  }

  .inlineHelp {
  	font:13px arial, sans-serif;
  	font-style:italic;
  	text-align:right;
  	color:green;
  }  
</style>

<div id="dataForm">
  <h3>Create Plugin Data Feed</h3>

  <div data-ng-show="serviceReportedMessages">
  	<ul>
  		<li class="error" data-ng-repeat="message in messages">{{message}}</li>
  	</ul>
  </div>
  
  <form name="dataFeedForm" novalidate data-ng-submit="dataFeedForm.$valid && savePluginDataFeed(dataFeed)">
  	<table>
  		<tr>
  			<td class="rowHeader"><label for="name">*Name</label></td>
  			<td class="rowValue">
  				<input type="text" data-ng-model="dataFeed.name" required  maxlength="30" data-ng-pattern="/^[A-Za-z0-9_\s]+$/" data-ng-change="isInputNameUnique(dataFeed.name)"/>
  				<br/><span class="inlineHelp">Name may contain upper and lower case letters, numbers, spaces and underscores up to 30 characters.</span>
  			</td>
  			<td class="error">
  				<span data-ng-show="dataFeedForm.$submitted || dataFeedForm.name.$touched">
  					<span data-ng-show="dataFeedForm.name.$error.required">Data Feed name is required.</span>
  					<span data-ng-show="dataFeedForm.name.$error.maxLength">Data Feed name must be between 1 and 30 characters</span>
  				</span>
  			</td>
  		</tr>


  		<tr>
  			<td class="rowHeader"><label for="tag">Tags</label></td>
  			<td class="rowValue">
				<textarea style="width:100%;resize:none;" data-ng-model="dataFeed.tag" data-ng-list="&#10;" data-ng-trim="false"></textarea>
  				<br/><span class="inlineHelp">Provide 0 or more tags separated by newlines.
  				Example: red,green,blue</span>
			</td>
			<td>&nbsp;</td>
  		</tr>

  		<tr>
  			<td class="rowHeader"><label for="archive">Archive</label></td>
  			<td class="rowValue">
				<select name="archive" data-ng-model="dataFeed.archive" required>
      				<option value="true">True</option>
					<option value="false">False</option>
				</select>
			</td>
			<td class="error">
  				<span data-ng-show="dataFeedForm.$submitted || dataFeedForm.archive.$touched">
  					<span data-ng-show="dataFeedForm.archive.$error.required">Archive is required</span>
  				</span>
  			</td>
  		</tr>

  		<tr>
  			<td class="rowHeader"><label for="filtergroup">Filter Groups</label></td>
  			<td class="rowValue">
				<textarea style="width:100%;resize:none;" data-ng-model="dataFeed.filtergroup" data-ng-list="&#10;" data-ng-trim="false"></textarea>
  				<br/><span class="inlineHelp">Provide 0 or more groups to filter access to feed</span>
			</td>
			<td>&nbsp;</td>
  		</tr>

		<tr>
			<td class="rowHeader"><label for="sync">Sync</label></td>
			<td class="rowValue">
				<select name="sync" data-ng-model="dataFeed.sync" required>
					<option value="true">True</option>
					<option value="false">False</option>
				</select>
			</td>
		</tr>
		
		<tr>
            <td class="rowHeader"><label for="federated">Federated</label></td>
            <td class="rowValue">
                <select name="federated" data-ng-model="dataFeed.federated" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td class="error">
                <span data-ng-show="dataFeedForm.$submitted || dataFeedForm.archive.$touched">
                    <span data-ng-show="dataFeedForm.federated.$error.required">Federated is required</span>
                </span>
            </td>
        </tr>

		<tr>
			<td style="text-align:right;">*Required</td>
			<td style="padding:10px;" align="right">
				<input type="button" data-ng-click="cancelInput()" value="Cancel" />&nbsp;
				<input type="submit" value="Save" data-ng-disabled="submitInProgress" />
			</td>
			<td>&nbsp;</td>
		</tr>

  	</table>
  </form>
</div>
