<style type="text/css">
	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.x.axis path{
		display: none;
	}

	.a.line{
		fill: none;
		stroke: red;
		stroke-width: 2px;
	}

	.b.line{
		fill: none;
		stroke: green;
		stroke-width: 2px;
	}

	.a.area {
	  fill: orange;
	}

	.b.area {
	  fill: lightgreen;
	}

	.x.grid, .y.grid line {
	  stroke: white;
	  stroke-opacity: 0.2;
	  shape-rendering: crispEdges;
	}

	.grid path {
	  stroke-width: 0;
	}
</style>

<div id="singleNetworkReadWritesContent" class="d3content">
   <div id="singleNetworkReadWritesLabel" style="text-align: center; margin-top: 5px">
      <div style="padding: 0; margin: 0;">
         <strong><u>Connection Reads/Writes Per Second</u></strong>
         <br><br>
	     <div class="legendRow">
	        <div class="legendElem" style="color: cyan;">Writes: {{ curSingleWrites }} </div>
	        <div class="legendElem" style="color: red;">Reads: {{ curSingleReads }} </div>
	     </div>
      </div>
   </div>
   <div style="position: absolute; width: 100%" id="singleNetworkReadWritesChart" data-ng-init="initSingleNetworkReadWritesChart()"></div>
</div>