<div class="modal-header">
  <h3 class="modal-title">Select Asset File</h3>
</div>
<div class="modal-body" data-ng-init="initialize()">
  <div class="panel-body">

    <table st-table="displayedCollection" class="table table-striped" st-safe-src="rowCollection">
      <thead>
        <tr>
          <th st-sort="name">filename</th>
          <th st-sort="creatorName">Creator</th>
          <th st-sort="creationDate">Creation Date</th>
          <th>Description</th>
        </tr>
        <tr>
          <th colspan="5"><input st-search="" placeholder="global search..." class="input-sm form-control"
            type="text" /></th>
        </tr>
      </thead>
      <tbody>
        <tr st-select-row="row" st-select-mode="single" ng-repeat="row in displayedCollection">
          <td>{{row.name}}</td>
          <td>{{row.creatorName}}</td>
          <td>{{row.creationDate | date}}</td>
          <td>{{row.modifiedDate | date}}</td>
          <td>{{row.description}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="submit()" ng-disabled="selectedRowId==-1">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
