.DataTable{
    background-color: #fdfdfd;
    width: 100%;
    max-width: 200vh;
    height: 90vh;
    min-height: 475px;
    align-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }