<div class="modal-header">
  <h3 class="modal-title">{{editorTitle}}</h3>
</div>
<div class="modal-body" data-ng-init="initialize()">
  <form name="workflow" ng-submit="submit()">
    <div class="panel-body">

      <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" is-open="true">
          <uib-accordion-heading>
            <span class="glyphicon glyphicon-edit" data-original-title="" title=""></span> User Defined Attributes
          </uib-accordion-heading>
          <div class="form-inline" style="display: block;">
            <label>Timer</label>
            <input class="form-control" type="number" name="input" ng-model="roger_federation.timer.value" ng-model-options="{ allowInvalid: true }" min="0" max="999" required>
            <select class="form-control" ng-show="roger_federation.timer.value > 0" ng-model="roger_federation.timer.units" ng-options="o for o in unitsOfTime" />
            <input class="form-control" ng-show="roger_federation.timer.value > 0" type="text" placeholder="Optional Timer Description" ng-model="roger_federation.timer.description" />
          </div>
          <br>
          <div class="form-inline" style="display: block;">
            <label>Priority</label>
            <input class="form-control" type="number" name="input" ng-model="roger_federation.priority" ng-model-options="{ allowInvalid: true }" min="0" max="999" required>
          </div>
        </div>

        <div uib-accordion-group class="panel-default" is-open="true">
          <uib-accordion-heading>
            <span class="fa fa-exchange" data-original-title="" title=""></span> Transition Type
          </uib-accordion-heading>
          <div class="btn-group" style="padding-bottom: 10px;">
            <label class="btn btn-primary" ng-model="transition.type" uib-btn-radio="'None'">None</label>
            <label class="btn btn-primary" ng-model="transition.type" uib-btn-radio="'Manual'">Manual</label>
            <label class="btn btn-primary" ng-model="transition.type" uib-btn-radio="'Temporal'">Temporal</label>
            <label class="btn btn-primary" ng-model="transition.type" uib-btn-radio="'Event Based'">Event-Based</label>
          </div>

          <!-- display the right transition details based on the transition type -->
          <div ng-show="transition.type === 'Manual'" class="modal-row">
            <br>
          </div>
          <input ng-show="transition.type === 'Event Based'" type="text" placeholder="Event Definition" ng-model="transition.eventDefinition" class="modal-row form-control" />
          <div class="row" ng-show="transition.type === 'Temporal'">
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="transition.transitionTime" is-open="isCalendarOpen" ng-focus="isCalendarOpen=true" required readonly />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isCalendarOpen=!isCalendarOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>

          <div ng-show="transition.type !== 'None'">
            <div>
              <label>Interaction</label>
            </div>
            <!-- select interaction type -->
            <div class="btn-group display:inline-block">
              <label class="btn btn-primary" ng-model="transition.interaction" uib-btn-radio="'Explicit'">Explicit</label>
              <label class="btn btn-primary" ng-model="transition.interaction" uib-btn-radio="'Implicit'">Implicit</label>
              <label class="btn btn-primary" ng-model="transition.interaction" uib-btn-radio="'End All'">End All</label>
            </div>
          </div>
        </div>
      </uib-accordion>




    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
