<div class="modal-header">
    <div style="clear: both">
        <h3 class="modal-title" style="float: left">Federate Policy Filters</h3>
    </div>
</div>

<div class="modal-body" data-ng-init="initialize()">
    <p>Under construction</p>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="!federatePolicyForm.$valid">OK</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>

</div>
