<link rel="stylesheet" href="../../styles/tablesorter/style.css" type="text/css" media="print, projection, screen" />
<div class="modal-header">
    <div style="clear: both">
        <h3 class="modal-title" style="float: left">{{editorTitle}} {{roger_federation.type}}</h3>
        <h4 ng-if="editExisting" style="float: right">{{roger_federation.name}}</h4>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modifyCa()">Remove CA's</button>
    <button ng-if="editExisting" class="btn btn-primary" type="button" ng-click="showActiveConnections()">Show Active Connections</button>
</div>

<div class="modal-body" data-ng-init="initialize()">

    <script type="text/ng-template" id="attributes_renderer.html">
        <div style="display:inline-block" ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                    class="glyphicon"
                    ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
            }"></span></a>
            <a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <span ng-show="node.type === 'attribute'"><a class="btn btn-primary btn-xs" data-nodrag style="margin-right: 8px;"><span class="glyphicon glyphicon-plus text-muted"></span></a></span>
            <span ng-show="node.type === 'attributes'"><a class="btn btn-primary btn-xs" data-nodrag ng-click="newValue(this)" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a></span>
            <span ng-show="node.type === 'nodes'"><a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a></span>


            <div class="btn-group" uib-tooltip="select type: boolean operation or attribute">
                <label data-nodrag class="btn btn-primary" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'attribute'">Attribute</label>
                <label data-nodrag class="btn btn-success" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'attributes'">Attributes</label>
                <label data-nodrag class="btn btn-success" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'nodes'">Node(s)</label>
            </div>

            <div ng-show="node.type === 'attribute'" style="margin-top:10px">
                <input style="width:70px" type="text" ng-model="node.key"
                       ng-change="updateRol()"
                       placeholder="Key"
                       uib-tooltip="Enter attribute key"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-enable="!node.key"
                       data-nodrag />
                <input style="width:190px" type="text" ng-model="node.value"
                       ng-change="updateRol()"
                       placeholder="Value"
                       uib-tooltip="Enter attribute value"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-enable="!node.value"
                       data-nodrag />
            </div>

            <div ng-show="node.type === 'attributes'" style="margin-top:10px">
                <input style="width:70px" type="text" ng-model="node.key"
                       ng-change="updateRol()"
                       placeholder="Key"
                       uib-tooltip="Enter attribute key"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-enable="!node.key"
                       data-nodrag />
                <div ng-repeat="value in node.values track by $index">
                    <input style="width:190px" type="text" ng-model="node.values[$index]"
                           ng-change="updateRol()"
                           placeholder="Value"
                           uib-tooltip="Enter attribute value"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-enable="!node.value"
                           data-nodrag />
                </div>
            </div>

            <div ng-show="node.type === 'nodes'" style="margin-top:10px">
                <input style="width:70px" type="text" ng-model="node.key"
                       ng-change="updateRol()"
                       placeholder="Key"
                       uib-tooltip="Enter attribute key"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-enable="!node.key"
                       data-nodrag />
            </div>

            <ol ng-show="node.type !== 'filter'" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                <div ng-repeat="node in node.nodes"><li ui-tree-node ng-include="'attributes_renderer.html'"></div></li>
            </ol>
        </div>
    </script>

    <script type="text/ng-template" id="filters_renderer.html">
    <div style="display:inline-block" ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="glyphicon"
                ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
            }"></span></a>
        <a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
        <span ng-show="node.type === 'filter'"><a class="btn btn-primary btn-xs" data-nodrag style="margin-right: 8px;"><span class="glyphicon glyphicon-plus text-muted"></span></a></span>
        <span ng-show="node.type === 'and'"><a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubAttribute(this)" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a></span>
        <span ng-show="node.type === 'or'"><a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubAttribute(this)" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a></span>


        <div class="btn-group" uib-tooltip="select type: boolean operation or attribute">
            <label data-nodrag class="btn btn-primary" ng-model="node.type" uib-btn-radio="'filter'">Filter</label>
            <label data-nodrag class="btn btn-success" ng-model="node.type" uib-btn-radio="'and'">AND</label>
            <label data-nodrag class="btn btn-success" ng-model="node.type" uib-btn-radio="'or'">OR</label>
        </div>



        <div ng-show="node.type === 'filter'" style="margin-top:10px">
            <select class="form-control" ng-model="node.filter" ng-options="o.name for o in filters track by o.name"></select>

            <label>Filter Name: {{ node.filter.name }}</label>
            <li ng-repeat="arg in node.filter.args">
                <label style="width:70px">Type: {{arg.name}} ({{ arg.type }})</label>
                <input ng-show="isArgumentEditable(arg)" style="width:190px" type="text" ng-model="arg.value"
                       placeholder="Value"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-enable="!node.value"
                       data-nodrag />
            </li>

            <p>Filter Description:  {{ node.filter.description }}</p>
        </div>

        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <div ng-repeat="node in node.nodes"><li ui-tree-node ng-include="'filters_renderer.html'"></div></li>
        </ol>
    </div>
    </script>

    <form name="federateForm">
        <div class="row form-group" ng-class="{ 'has-error': federateForm.name.$touched && federateForm.name.$invalid }">
            <label class="col-sm-3">Federate Identity</label>
            <div class="col-sm-9">
                <input type="text" ng-change="generateGraphNameFromFedId('{{roger_federation.name}}')" name="name" class="form-control" ng-model="roger_federation.name" ng-disabled="editExisting" required />
                <div class="help-block" ng-messages="federateForm.name.$error" ng-if="federateForm.name.$touched">
                    <p ng-message="required">A federate name is required.</p>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-class="{ 'has-error': federateForm.federateStringId.$touched && federateForm.federateStringId.$invalid }">
            <label class="col-sm-3">Graph Name</label>
            <div class="col-sm-9">
                <input type="text" name="federateStringId" class="form-control" ng-model="roger_federation.stringId" required />
                <div class="help-block" ng-messages="federateForm.federateStringId.$error" ng-if="federateForm.federateStringId.$touched">
                    <p ng-message="required">String ID is required.</p>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-class="{ 'has-error': federateForm.description.$touched && federateForm.description.$invalid }">
            <label class="col-sm-3">Description</label>
            <div class="col-sm-9">
                <input type="text" name="description" class="form-control" ng-model="roger_federation.description" />
                <div class="help-block" ng-messages="federateForm.description.$error" ng-if="federateForm.description.$touched">
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3">CA Group</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="roger_federation.name">
                    <option ng-repeat="ca in knownCas" value="{{ca.uid}}">{{ca.uid}}</option>
                </select>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-sm-3">Interconnected</label>
            <div class="col-sm-9">
                <input type="checkbox" name="interconnected" class="form-control" ng-model="roger_federation.interconnected" />
            </div>
        </div>

       <!--  <div class="row form-group">
            <label class="col-sm-3">Attributes</label>
            <div>
                <div ui-tree id="attribute-root">
                    <ol ui-tree-nodes ng-model="roger_federation.attributes">
                        <a class="btn btn-primary btn-xs" data-nodrag ng-click="newTopAttribute()" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a>
                        <li ng-repeat="node in roger_federation.attributes" ui-tree-node ng-include="'attributes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3">Filters</label>
            <div ui-tree data-drag-enabled="false" id="filter-root">
                <ol ui-tree-nodes ng-model="roger_federation.groupFilters">
                    <a class="btn btn-primary btn-xs" data-nodrag ng-click="newTopFilter()" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a>
                    <li ng-repeat="node in roger_federation.groupFilters" ui-tree-node ng-include="'filters_renderer.html'"></li>
                </ol>
            </div>
        </div> -->

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="!federateForm.$valid">OK</button>
            <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>

    <div class="row">
        <label class="col-sm-3">Add CA</label>
        <form enctype="multipart/form-data" name="uploadCertificateForm" novalidate data-ng-submit="uploadCertificateForm.$valid && uploadFile()">
            <div>
                To add a CA, upload its X.509 certificate in .pem format.<br>
                Warning: adding a CA will restart the federation server.
            </div>
            <div class="col-sm-9">
                <table>
                    <tr>
                        <td class="rowValue">
                            <input type="file" data-file-model="certificateFile" name="file" required/>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td style="padding:10px;" align="right">
                            <input type="button" data-ng-click="cancel()" value="Cancel" />&nbsp;
                            <input type="submit" value="Save" data-ng-disabled="submitInProgress" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
