
<div class="modal-header">
  <h3 class="modal-title">Instantiation Expression Builder</h3>
  <h4 class="modal-title silver">{{roleName}} ({{ontologyName}})</h4>
</div>

<div class="modal-body" data-ng-init="initialize()">

<!-- start tree view -->

<script type="text/ng-template" id="nodes_renderer.html">
  <div style="display:inline-block" ui-tree-handle class="tree-node tree-node-content">
	<a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
	<a class="btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
    <span ng-show="node.type === 'attribute'"><a class="btn btn-primary btn-xs" data-nodrag style="margin-right: 8px;"><span class="glyphicon glyphicon-plus text-muted"></span></a></span>
    <span ng-hide="node.type === 'attribute'"><a class="btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><large><span class="glyphicon glyphicon-plus"></span></large></a></span>


  	<div class="btn-group" uib-tooltip="select type: boolean operation or attribute">
        <label data-nodrag class="btn btn-primary" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'attribute'">attribute</label>
        <label data-nodrag class="btn btn-success" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'and'">and</label>
        <label data-nodrag class="btn btn-success" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'or'">or</label>
        <label data-nodrag class="btn btn-success" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'not'">not</label>
        <!-- <label data-nodrag class="btn btn-success" ng-change="updateRol()" ng-model="node.type" uib-btn-radio="'parentheses'">( )</label> -->
	</div>
   
	<div ng-show="node.type === 'attribute'" style="margin-top:10px">
		<input style="width:70px" type="text" ng-model="node.key"
			 ng-change="updateRol()"
             placeholder="Key"
             uib-tooltip="Enter attribute key"
             tooltip-placement="top"
             tooltip-trigger="mouseenter"
             tooltip-enable="!node.key"
			 data-nodrag />
		<input style="width:190px" type="text" ng-model="node.value"
			 ng-change="updateRol()"
             placeholder="Value"
             uib-tooltip="Enter attribute value"
             tooltip-placement="top"
             tooltip-trigger="mouseenter"
             tooltip-enable="!node.value"
			 data-nodrag />
	</div>
  	<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    	<div ng-repeat="node in node.nodes"><li ui-tree-node ng-include="'nodes_renderer.html'"></div></li>
  	</ol>
  </div>
</script>

<div class="row">
    <div class="col-sm-12">
      <a class="btn btn-primary btn-xs" data-nodrag style="margin-right: 8px;"><span class="glyphicon glyphicon-resize-full gi-1_5x" ng-click="expandAll()" uib-tooltip="Expand All"></span></a>
      <a class="btn btn-primary btn-xs" data-nodrag style="margin-right: 8px;"><span class="glyphicon glyphicon-resize-small gi-1_5x" ng-click="collapseAll()" uib-tooltip="Collapse All"></span></a>
      <span>Build instantiation expressions using attributes and operators (and, or, not)</span>
  </div>
</div>

<div class="row">
  <div>
    <div ui-tree id="tree-root">
      <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>
</div>

<!-- debug the tree json dynamically -->
<!-- 
<div class="row">
  <div class="col-md-10">
    <div class="info">
      {{info}}
    </div>
    <pre class="code">{{ data | json }}</pre>
  </div>
</div>
-->

<!-- end tree view -->

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submit()" ng-disabled="ssForm.$invalid">OK</button>
  </div>
  
  <div style="position: absolute; padding: 10px; top: 100px; left: -100px; background: white; border: 2px solid #000066" data-ng-click="hidePreview()" data-ng-show="sparqlPreviewActive" data-ng-bind-html="sparqlPreviewContent">
  </div>

