<!-- Workflow Fields -->
<div class="panel panel-success">

  <tabset>
    <tab heading="BPMN Inspector">
      <div class="panel panel-success">
        <div class="panel-body">
          <div id="inspector-container"></div>
        </div>
      </div>
    </tab>

    <tab heading="Roles">
      <div class="panel-body">
        <div ng-repeat="state in stateObjects | filter: {entityType: 'role'}">
          <div class="panel panel-success">
            <div class="panel-heading" ng-mouseenter="showPopover(state, $event)">
              <div class="pull-right btn-group">
                <button class="btn btn-default" ng-click="setActiveState(state)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" ui-sref="workflows.editor.editRoleAttributeExpressions({graphItemId: state.graphItemId})" ng-click="test(state)" uib-tooltip="Build Instantiation Expressions">
                  <span class="glyphicon glyphicon-tasks"></span>
                </button>
                <button class="btn btn-default" ng-click="removeGraphItemState(state.cellId)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                </button>
              </div>
              <h3 class="panel-title">{{state.name}}</h3>
              <br>
              <span>({{state.datasetName}}) </span>
              <div style="clear: both;"></div>
            </div>
            <div collapse="activeState != state" class="panel-body">
              <form name="roleForm">
                <div class="row form-group" ng-class="{ 'has-error': roleForm.name.$touched && roleForm.name.$invalid }">
                  <label class="col-sm-3">Label</label>
                  <div class="col-sm-9">
                    <input type="text" name="label" class="form-control" ng-model="state.label" required />
                    <div class="help-block" ng-messages="roleForm.label.$error" ng-if="roleForm.label.$touched">
                      <p ng-message="required">A role label is required.</p>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3">Name</label>
                  <div class="col-sm-9">
                    <input type="text" name="name" ng-disabled="true" class="form-control" ng-model="state.name" />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3">URI</label>
                  <div class="col-sm-9">
                    <input type="url" name="uri" ng-disabled="true" class="form-control" ng-model="state.uri" />
                  </div>
                </div>
                <div class="row form-group" ng-class="{ 'has-error': roleForm.priority.$touched && roleForm.priority.$invalid }">
                  <label class="col-sm-3">Priority</label>
                  <div class="col-sm-9">
                    <input type="number" name="priority" class="form-control" ng-model="state.priority" required />
                    <div class="help-block" ng-messages="roleForm.priority.$error" ng-if="roleForm.priority.$touched">
                      <p ng-message="required">Priority is required.</p>
                      <p ng-message="number">Value must be a number.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Instances</label>
                  <div class="col-sm-4 form-group" ng-class="{ 'has-error': roleForm.minNbrInstances.$touched && roleForm.minNbrInstances.$invalid }">
                    <input type="text" name="minNbrInstances" class="form-control" ng-model="state.metadata.minNbrInstances" required pattern="^([1-9][0-9]*)$" />
                  </div>
                  <label class="col-sm-1">To</label>
                  <div class="col-sm-3 form-group" ng-class="{ 'has-error': roleForm.maxNbrInstances.$touched && roleForm.maxNbrInstances.$invalid }">
                    <input type="text" name="maxNbrInstances" class="form-control" ng-model="state.metadata.maxNbrInstances" required pattern="^(([1-9][0-9]*)|\*)$" />
                  </div>
                  <div class="help-block" ng-messages="roleForm.minNbrInstances.$error" ng-if="roleForm.minNbrInstances.$touched">
                    <p ng-message="pattern">Value must be a positive integer.</p>
                    <p ng-message="required">Field is required.</p>
                  </div>
                  <div class="help-block" ng-messages="roleForm.maxNbrInstances.$error" ng-if="roleForm.maxNbrInstances.$touched">
                    <p ng-message="pattern">Value must be a number or *.</p>
                    <p ng-message="required">Field is required.</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Products">
      <div class="panel-body">
        <div ng-repeat="state in stateObjects | filter: {entityType: 'product'}">
          <div class="panel panel-success">
            <div class="panel-heading" ng-mouseenter="showPopover(state, $event)">
              <div class="pull-right btn-group">
                <button class="btn btn-default" ng-click="setActiveState(state)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" ng-click="removeGraphItemState(state.cellId)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
              <h3 class="panel-title">{{state.name}}</h3>
              <br>
              <span>({{state.datasetName}}) </span>
              <div style="clear: both;"></div>
            </div>
            <div collapse="activeState != state" class="panel-body">
              <form name="productForm">

                <div class="row form-group" ng-class="{ 'has-error': productForm.name.$touched && productForm.name.$invalid }">
                  <label class="col-sm-3">Label</label>
                  <div class="col-sm-9">
                    <input type="text" name="label" class="form-control" ng-model="state.label" required />
                    <div class="help-block" ng-messages="productForm.label.$error" ng-if="productForm.label.$touched">
                      <p ng-message="required">A product label is required.</p>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3">Name</label>
                  <div class="col-sm-9">
                    <input type="text" name="name" ng-disabled="true" class="form-control" ng-model="state.name" />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3">URI</label>
                  <div class="col-sm-9">
                    <input type="url" name="uri" ng-disabled="true" class="form-control" ng-model="state.uri" />
                  </div>
                </div>
                <div class="row form-group" ng-class="{ 'has-error': productForm.priority.$touched && productForm.priority.$invalid }">
                  <label class="col-sm-3">Priority</label>
                  <div class="col-sm-9">
                    <input type="number" name="priority" class="form-control" ng-model="state.priority" required />
                    <div class="help-block" ng-messages="productForm.priority.$error" ng-if="productForm.priority.$touched">
                      <p ng-message="required">Priority is required.</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Links">
      <div class="panel-body">
        <div ng-repeat="state in stateObjects | filter: {entityType: 'link'}">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="pull-right btn-group">
                <button class="btn btn-default" ng-click="setActiveState(state)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" ng-click="removeGraphLinkState(state.cellId)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
              <h3 class="panel-title">{{state.labels[0].attrs.text.text}}</h3>
              <div style="clear: both;"></div>
            </div>
            <div collapse="activeState != state" class="panel-body">
              <form label="productForm">
                <div class="row form-group" ng-class="{ 'has-error': productForm.label.$touched && productForm.label.$invalid }">
                  <label class="col-sm-3">Label</label>
                  <div class="col-sm-9">
                    <input type="text" name="label" class="form-control" ng-model="state.labels[0].attrs.text.text" />
                  </div>
                </div>
                <div class="row form-group" ng-class="{ 'has-error': productForm.priority.$touched && productForm.priority.$invalid }">
                  <label class="col-sm-3">Priority</label>
                  <div class="col-sm-9">
                    <input type="number" name="priority" class="form-control" ng-model="state.priority" required />
                    <div class="help-block" ng-messages="productForm.priority.$error" ng-if="productForm.priority.$touched">
                      <p ng-message="required">Priority is required.</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Semantic Requests">
      <div class="panel-body">
        <div ng-repeat="request in semanticRequests">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="pull-right btn-group">
                <button class="btn btn-default" data-ng-click="editSemanticRequest(request)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default" ng-click="">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
              <h3 class="panel-title">{{request.name}}</h3>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Attributes">
      <div class="panel panel-success">
        <div class="panel-heading">Workflow Attributes</div>
        <div class="panel-body">
          <form name="workflowForm">
            <div class="row form-group" ng-class="{ 'has-error': workflowForm.name.$touched && workflowForm.name.$invalid }">
              <label class="col-sm-3">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" ng-model="workflow.name" ng-blur="updateWorkflowAttributes()" required />
                <div class="help-block" ng-messages="workflowForm.name.$error" ng-if="workflowForm.name.$touched">
                  <p ng-message="required">A name is required.</p>
                </div>
              </div>
            </div>
            <div class="row form-group" ng-class="{ 'has-error': workflowForm.shortName.$touched && workflowForm.shortName.$invalid }">
              <label class="col-sm-3">Short Name</label>
              <div class="col-sm-9">
                <input type="text" name="shortname" class="form-control" ng-model="workflow.shortName" ng-blur="updateWorkflowAttributes()" required />
                <div class="help-block" ng-messages="workflowForm.shortName.$error" ng-if="workflowForm.shortName.$touched">
                  <p ng-message="required">A short name is required.</p>
                </div>
              </div>
            </div>
            <div class="row form-group" ng-class="{ 'has-error': workflowForm.creator.$touched && workflowForm.creator.$invalid }">
              <label class="col-sm-3">Creator</label>
              <div class="col-sm-9">
                <input type="text" name="creator" class="form-control" ng-model="workflow.creatorName" ng-blur="updateWorkflowAttributes()" required />
                <div class="help-block" ng-messages="workflowForm.creator.$error" ng-if="workflowForm.creator.$touched">
                  <p ng-message="required">A creator is required.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3">Description</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="workflow.description" ng-blur="updateWorkflowAttributes()" />
              </div>
            </div>
          </form>
        </div>
      </div>

    </tab>
    <tab heading="Lifecycle Events">
      <div class="panel panel-success">
        <div class="panel-heading">Lifecycle Events</div>
        <div class="panel-body">
          <div class="btn-group">
            <label class="btn btn-primary " ng-model="lifecycle.type" uib-btn-radio="'OnStart'">OnStart</label>
            <label class="btn btn-primary " ng-model="lifecycle.type" uib-btn-radio="'OnEnd'">OnEnd</label>
            <label class="btn btn-primary " ng-model="lifecycle.type" uib-btn-radio="'OnAuth'">OnAuth</label>
          </div>
          <button class="btn btn-primary" type="button" data-ng-click="addLifecycleEvent()" style="margin-left: 8px;">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <div style="margin-top: 4px;">
            <input class="form-control ng-pristine ng-valid ng-valid-required ng-touched" ng-show="lifecycle.type === 'OnAuth'" type="text" placeholder="Identity" ng-model="lifecycle.identity" />
          </div>
          <div ng-repeat="lc in workflow.lifecycleEvents | orderBy : lifecycleSort: true">
            <div class="rounded-corners-block" ng-class="{'label-success': lc['@class'].indexOf('OnStart') > -1 , 'label-danger': lc['@class'].indexOf('OnEnd') > -1, 'label-info': lc['@class'].indexOf('OnAuth') > -1}">
              <span>
                  &nbsp;{{lc['@class'].substring(lc['@class'].lastIndexOf(".") + 1);}}
                </span>
              <span style="color: #6E6E6E; word-break: break-all;" ng-show="lc.identity">&nbsp;&nbsp;{{lc.identity}}</span>

              <div class="pull-right btn-group">
                <button class="btn btn-default" ng-click="editLifecyclecommands(lc)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" ng-click="deleteLifecycleEvent(lc)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
              <div class="pull-right">
                <span ng-click="" style="font-size: 28px;">
                  {{lc.commands.length}}&nbsp;&nbsp;
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="QoS">
      <div class="panel-body">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span style="font-weight: bold;">New Priority:</span>
          </div>
          <div class="panel-primary" style="margin-left: 7px; height: 35px; line-height: 35px;">
            <label>Product: </label>&nbsp;<span>{{qosSelection.product.item.name}}</span>
            <div class="btn-group pull-right">
              <button class="btn btn-default" ui-sref="workflows.editor.selectProduct">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button class="btn btn-default" ng-click="clearProductSelection()">
                <span class="glyphicon glyphicon-erase"></span>
              </button>
            </div>
          </div>
          <div class="panel-primary" style="margin-left: 7px; height: 35px; line-height: 35px;">
            <label>Role: </label>&nbsp;<span>{{qosSelection.role.item.name}}</span>
            <div class="btn-group pull-right">
              <button class="btn btn-default" ui-sref="workflows.editor.selectRole">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button class="btn btn-default" ng-click="clearRoleSelection()">
                <span class="glyphicon glyphicon-erase"></span>
              </button>
            </div>
            <br />
          </div>
          <div class="panel-primary" style="margin-left: 7px; height: 35px; line-height: 35px;">
            <label>Directionality: </label>
            <div class="btn-group pull-right">
              <select data-ng-model="qosSelection.direction" data-ng-hide="qosSelection.product.item.name == 'Not Set' || qosSelection.role.item.name == 'Not Set'" class="form-control">
                <option value="Producing" selected="selected">Producing</option>
                <option value="Consuming">Consuming</option>
              </select>
              <span data-ng-show="qosSelection.product.item.name == 'Not Set' || qosSelection.role.item.name == 'Not Set'">N/A&nbsp;</span>
            </div>
            <br />
          </div>
          <div class="panel-primary" style="margin-left: 7px; height: 35px; line-height: 35px;">
            <label>Priority</label>
            <div class="pull-right">
              <input type="number" name="priority" class="form-control" ng-model="qosSelection.priority" required />

            </div>
          </div>
          <button class="btn" style="margin: 3px;" id="newPrioBtn" ng-click="createNewPrioritySetting()">Set Priority</button>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <span style="font-weight: bold;">Existing Priority Settings:</span>
          </div>
          <table style="table-layout:fixed; width: 100%;">
            <thead>
              <tr style="background-color: #cccccc;">
                <th style="width: 70px;">&nbsp;Type</th>
                <th>Name</th>
                <th style="width: 60px;">Priority</th>
                <th style="width: 60px; text-align: center;">Edit</th>
              </tr>
            </thead>
            <!-- Roles -->
            <tr ng-repeat="state in stateObjects | filter: {entityType: 'role'}">
              <td>
                <label>&nbsp;Role</label>
              </td>
              <td style="word-wrap:break-word;">{{state.name}}</td>
              <td>
                <div ng-show="currentPriorityEntry == state.uri">
                  <input type="number" name="existingPriority" class="form-control" ng-change="setActiveState(state)" ng-blur="notifyPriorityChanged(state.priority)" ng-model="state.priority" />
                </div>
                <div ng-show="currentPriorityEntry != state.uri">{{state.priority}}</div>
              </td>
              <td align="right">
                <button class="btn btn-default" ng-click="setCurrentPriorityEdit(state.uri)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
            </tr>
            <!-- Products -->
            <tr ng-repeat="state in stateObjects | filter: {entityType: 'product'}">
              <td>
                <label>&nbsp;Product</label>
              </td>
              <td style="word-wrap:break-word;">{{state.name}}</td>
              <td style="width: 70px;">
                <div ng-show="currentPriorityEntry == state.uri">
                  <input type="number" name="existingPriority" class="form-control" ng-change="setActiveState(state)" ng-blur="notifyPriorityChanged(state.priority)" ng-model="state.priority" />
                </div>
                <div ng-show="currentPriorityEntry != state.uri">{{state.priority}}</div>
              </td>
              <td align="right">
                <button class="btn btn-default" ng-click="setCurrentPriorityEdit(state.uri)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
            </tr>

            <!-- Links -->
            <tr ng-repeat="state in stateObjects | filter: {entityType: 'link'}">
              <td>
                <label>&nbsp;Link</label>
              </td>
              <td style="word-wrap:break-word;">{{state.name}}</td>
              <td style="width: 70px;">
                <div ng-show="currentPriorityEntry == state.name">
                  <input type="number" name="existingPriority" class="form-control" ng-change="setActiveState(state)" ng-blur="notifyPriorityChanged(state.priority)" ng-model="state.priority" />
                </div>
                <div ng-show="currentPriorityEntry != state.name">{{state.priority}}</div>
              </td>
              <td align="right">
                <button class="btn btn-default" ng-click="setCurrentPriorityEdit(state.name)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
</div>
</tab>
</tabset>
</div>
