<!DOCTYPE html>
<html ng-app="takClassificationApp" >
<head>

    <link rel="icon" type="image/x-icon" href="../Marti/favicon.ico" />    
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Manage Classification</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- This jQuery 3.5.0 is needed for the standard TAK header to work -->
    <script type="text/javascript" src="../Marti/jquery/jquery-3.5.0.js"></script> 
  
    <!-- This Classification UI uses the same bower library with user-management UI -->
    <script src="../user-management/bower_components/angular/angular.min.js"></script>
    <script src="../user-management/bower_components/angular-route/angular-route.min.js"></script>

    <link rel="stylesheet" href="../user-management/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../user-management/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../user-management/bower_components/popper.js/dist/umd/popper.min.js"></script>    
    <script src="../user-management/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../user-management/bower_components/components-font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="../user-management/bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="../user-management/bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <script src="../user-management/bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="../user-management/bower_components/ngDraggable/ngDraggable.js"></script>
        
</head>
<body>

<!-- <div style="font:18px arial, sans-serif;" ng-include="'../Marti/menubar.html'"></div> -->
<div style="font:18px arial, sans-serif;" ng-include="'../user-management/menubar_modified.html'"></div>

<div ng-controller="takClassificationController">

<!--    <div class="header">
        <h1>TAK Classification Management</h1>
    </div> -->

    <div class="three_columns_parent">
    <div class="column left" style="background-color:#F3F2F1;">
        <h4 style="display:inline;"> Classifications </h4>
        <button style="font-size:18px;" ng-click="refresh_classifications()"> <i class="fa fa-refresh"></i> </button> 
        &nbsp; 
        <button style="margin-top:10px;" ng-click="open_new_classification_dialog()"><i class="fa fa-plus" aria-hidden="true"></i> New </button>
         
        <p style="margin-top:10px;">Search <input type="text" ng-model="classification_search_term"></p>

        <div class="list_container">
            <div ng-repeat="x in classifications | filter:{level:classification_search_term} | orderBy:'level' ">

                <div class="dropright classification_object" id="button_classification_{{ x.level }}">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton_classification_{{ x.level }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ x.level }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_classification_{{ x.level }}">
                      <a class="dropdown-item" href="#!set_caveats_for_classification" ng-click="find_caveats_for_classification(x.level)">View/Edit Caveats</a>
                      <a class="dropdown-item" ng-click="delete_classification(x.level)">Delete Classification</a>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <div class="column middle" style="background-color:white;">
        <div ng-view></div>

    </div>
    <div class="column right" style="background-color:#F3F2F1;">
        <h4 style="display:inline;"> Caveats </h4> 
        <button style="font-size:18px;" ng-click="refresh_caveats()"> <i class="fa fa-refresh"></i> </button> 
        &nbsp; 
        <button style="margin-top:10px;" ng-click="open_new_caveat_dialog()"><i class="fa fa-plus" aria-hidden="true"></i> New Caveat</button>
        
        <p style="margin-top:10px;">Search <input type="text" ng-model="caveat_search_term"></p>

        <div class="list_container" ng-drop="true" ng-drop-success="onDropCompleteToCaveatRepo($data,$event)" > 
            <div ng-repeat="x in caveats | filter:{name:caveat_search_term} | orderBy:'name' ">
                
                <div class="dropright caveat_object" id="button_group_{{ x.name }}" ng-drag="true" ng-drag-data="{'caveat': x, 'from': 'caveatRepo'}" data-allow-transform="true" ng-drag-success="onDragComplete($data,$event)">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton_group_{{ x.name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ x.name }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_group_{{ x.name }}">
                      <a class="dropdown-item" ng-click="delete_caveat(x.name)">Delete caveat</a>
                    </div>
                </div>

            </div>
        </div>
        <div ng-drag-clone="">
            <button class="btn btn-info" type="button">{{ clonedData.caveat.name }}</button>
        </div>

    </div>
    </div>
    
    <div ng-include="'/Marti/footer.jsp'"></div>

</div>

<script src="js/app.js"></script>
<script src="js/controllers/takClassificationController.js"></script>
<script src="js/controllers/newClassificationController.js"></script>
<script src="js/controllers/newCaveatController.js"></script>
<script src="js/controllers/setCaveatsController.js"></script>

</body>
</html>
