
<div>
    <h2>New Caveat</h2>
    <form name="form" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.caveat_name.$dirty && form.caveat_name.$error.required }">
            <label for="caveat_name">Caveat name</label>
            <input type="text" name="caveat_name" id="caveat_name" class="form-control" ng-model="new_caveat_name" required />
            <span ng-show="form.caveat_name.$dirty && form.caveat_name.$error.required" class="help-block">Caveat name is required</span>
        </div>
        <div class="form-actions">
            <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="new_caveat()"> Add </button>
            <a class="btn btn-link" ng-click="closeThisDialog()">Cancel</a>
        </div>
    </form>
</div>
