<div>
<h2>Set caveats for classification</h2>

<div class="rowFF">
    <div class="columnFF">Classification level: <b>{{ current_classification_level_to_set_caveats  }} </b></div>
    <div class="columnFF" style="text-align: right;">
        <div style="text-align: right;">
            <button class="btn btn-primary" ng-click="setCaveatsForClassification()"><i class="fa fa-floppy-o" style="font-size:24px;" aria-hidden="true"></i>&nbsp;Update</button>
        </div>
    </div>
</div>

<div>Drag the caveats on the right panel and drop to the box below. <br/>To remove a caveat from the box, drag it back to the right panel</div>

<div class="dropbox_selected_caveats" id="dropbox_selected_caveats" ng-drop="true" ng-drop-success="onDropCompleteToSelectedCaveats($data,$event)">
    <div style="text-align: center;"> <b>Selected Caveats</b></div>

    <div ng-repeat="x in selected_caveats_for_current_classification">

        <button class="btn btn-info caveat_button" type="button" id="dropdownMenuButton_group_{{ x }}" ng-drag="true" ng-drag-data="{'caveat':x, 'from':'selectedCaveats'}" ng-drag-success="onDragComplete($data,$event)">
            {{ x.name }}
        </button>

    </div>
</div>

</div>